 .u-section-1 {
  filter: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%, rgba(151, 180, 165, 0.4) 86%, rgba(211, 224, 225, 0.5)), linear-gradient(178deg, rgba(0, 0, 0, 0.3) 65%, rgba(7, 8, 8, 0.4) 78%, rgba(211, 224, 225, 0.5) 93%), url('https://assets.nicepagecdn.com/2391b373/6653381/images/photo-1519566657253-e37fbcf36dfb.jpeg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1012px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 504px;
  margin: 121px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 573px;
  margin: 50px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 112px 121px 0 515px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 2.25rem;
  --radius: 80px;
  font-weight: 700;
  margin: 62px auto 60px;
  padding: 8px 209px 8px 208px;
}

.u-section-1 .u-icon-2 {
  height: 0;
  font-size: 1.1667em;
  vertical-align: baseline;
  margin-left: 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 50px;
    margin-right: 12px;
    margin-left: 424px;
  }

  .u-section-1 .u-btn-1 {
    padding: 1px 177px 2px 175px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 216px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
    padding-right: 90px;
    padding-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4rem;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.3333333333333333rem;
    margin-left: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 12px;
    margin-right: -72px;
    margin-left: 72px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 63px;
    padding: 5px 24px 6px 23px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 5px;
  }
} .u-section-2 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(117, 126, 126, 0.5) 0%, rgba(211, 224, 225, 0.5)), linear-gradient(to bottom, rgba(211, 224, 225, 1), rgba(211, 224, 225, 1));
  background-size: cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 665px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 427px;
  box-shadow: 5px 5px 20px 0 rgba(82,95,96,1);
  margin: 147px auto 0 -15px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 331px;
  background-image: linear-gradient(to bottom, rgba(211, 224, 225, 0.5), rgba(211, 224, 225, 0.5)), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 6px;
}

.u-section-2 .u-image-1 {
  height: 397px;
  width: 724px;
  box-shadow: 5px 5px 20px 0 rgba(51,48,41,0.4);
  outline: 1px dotted red ! important;
  cursor: crosshair !important;
  margin: -348px -34px 0 auto;
}

.u-section-2 .u-layout-wrap-2 {
  width: 471px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(82,95,96,1);
  margin: -64px 93px 33px auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 139px;
  background-image: linear-gradient(to bottom, rgba(211, 224, 225, 0.5), rgba(211, 224, 225, 0.5)), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  width: 317px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    --color-var: #a3aeae;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-2 .u-image-1 {
    height: 296px;
    width: 540px;
    margin-right: 0;
    outline: red dotted 1px !important;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 37px;
    margin-right: 69px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.6666666666666665rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 186px;
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1252px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 342px;
  background-image: url("https://assets.nicepagecdn.com/2391b373/6653381/images/luftaufnahme-der-natuerlichen-quelle-the-blue-eye-finiq-vlore-albanien-AAEF33177.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(41,50,51,0.4);
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-3 .u-text-1 {
  width: 311px;
  margin: 7px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 14px 0 23px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 334px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 46px;
}

.u-section-3 .u-text-3 {
  width: 188px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 315px;
  background-image: url("https://assets.nicepagecdn.com/2391b373/6653381/images/Butrint-Albanien-Theater-von-oben.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(41,50,51,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-3 .u-image-1 {
    min-height: 282px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 275px;
  }

  .u-section-3 .u-image-2 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-3 .u-image-1 {
    min-height: 216px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1348px;
  }

  .u-section-3 .u-image-1 {
    min-height: 324px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 299px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-3 .u-image-1 {
    min-height: 204px;
  }

  .u-section-3 .u-image-2 {
    min-height: 188px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1916px;
}.u-section-5 .u-sheet-1 {
  min-height: 677px;
}